@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/RobotoSlab-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/RobotoSlab-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/RobotoSlab-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'custom';
    src:  url('/fonts/custom.eot?94hmly');
    src:  url('/fonts/custom.eot?94hmly#iefix') format('embedded-opentype'),
      url('/fonts/custom.ttf?94hmly') format('truetype'),
      url('/fonts/custom.woff?94hmly') format('woff'),
      url('/fonts/custom.svg?94hmly#custom') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
[class^="custom-"], [class*=" custom-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'custom' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .custom-search .path1:before {
    content: "\e908";
    color:$primary;
  }
  .custom-search .path2:before {
    content: "\e909";
    margin-left: -1em;
    color:$info;
  }
  .custom-sun:before {
    content: "\e900";
  }
  .custom-moon:before {
    content: "\e901";
  }
  .custom-cart .path1:before {
    content: "\e902";
    color:$primary;
  }
  .custom-cart .path2:before {
    content: "\e903";
    margin-left: -1em;
    color:$info;
  }
  .custom-account .path1:before {
    content: "\e904";
    color:$primary;
  }
  .custom-account .path2:before {
    content: "\e905";
    margin-left: -1em;
    color:$info;
  }
  .custom-wishlistsvg .path1:before {
    content: "\e906";
    color:$primary;
  }
  .custom-wishlistsvg .path2:before {
    content: "\e907";
    margin-left: -1em;
    color:$info;
  }
  